@import './styles/variables';

body {
  margin: 0;
  background-color: $color-bg;
}

body, input {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: $color-text;
}

a {
  text-decoration: none;
}